doctype html
html(lang='en')
  head
    title Daniel-Tucker_resume
    meta(charset='UTF-8')
    link(href='https://fonts.googleapis.com/css?family=Khula:400', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")

  body
    .header
    .resume-container
      .eyecatch.u-doc-container
        h1.eyecatch-title Daniel Tucker
        p.eyecatch-subtitle Software Engineer
        p.eyecatch-description

      .contact
        .row
          .three.columns.contact-each-first
            p.contact-content English
            p.contact-heading Languages
          .three.columns.contact-each-second
            p.contact-content +1.720-258-6143
            p.contact-heading Phone Number
          .three.columns.contact-each-third
            p.contact-content.contact-content-email info@dantuck.com
            p.contact-heading Email
          .three.columns.contact-each-last
            p.contact-content Conifer, Colorado
            p.contact-heading Location

      .row.u-doc-container
        .six.columns

          h2.u-section-title Work Experience
          .work-each
            p.u-each-title
              span.u-each-organization Exclusive Resorts, Denver CO
              span.u-each-period 2014.11 ~ Current
            p.u-each-subtitle Lead Developer/Senior UI Developer
            p.work-each-description
              | Lead UI architectural and development direction
              | and implementation. Engineered a content API
              | using C# Web API to deliver content to both public
              | and member facing clients. Implemented application
              | development processes and procedures which include
              | using grunt to build and optimize CSS, JS, SVG, and
              | PNGs into a deployed set to AWS using CloudFront
              | as a CDN.
              ul
                li AWS management (CloudFront)

          .work-each
            p.u-each-title
              span.u-each-organization Schoolrunner, Denver CO
              span.u-each-period 2014.06 ~ 2014.11
            p.u-each-subtitle Software Developer
            p.work-each-description
              | Implemented an Ionic Framework application to
              | facilitate teacher needed actions such as student
              | behavior recordings and attendance. The application
              | was implemented using AngularJS and SCSS and
              | deployed to the Android Play store and Apple Store.

          .work-each
            p.u-each-title
              span.u-each-organization Sitrion formerly NewsGator, Denver CO
              span.u-each-period 2012.05 ~ 2014.06
            p.u-each-subtitle Software Engineer
            p.work-each-description
              | Worked with a team to develop Sitrion Social Sites,
              | a social networking plug-in for SharePoint, using
              | jQuery, CSS, JSON, SQL Server, and the SharePoint
              | Object Model. UI/UX developer of Lookout and Lookout360.
              | Implemented Lookout360 as a portable ribbon that
              | can be added to any page as a connector to Sitrion
              | Lookout.

          .work-each
            p.u-each-title
              span.u-each-organization Denver Regional Council of Governments, Denver CO
              span.u-each-period 2010.02 ~ 2012.05
            p.u-each-subtitle Software Developer
            p.work-each-description
              | Transformed mission critical business application
              | previously designed into a more robust and scalable
              | solution to support internal and external users.
              | Integrated 3 applications to work together in a
              | single system.

          .work-each
            p.u-each-title
              span.u-each-organization Wood Group ESP, Oklahoma City OK
              span.u-each-period 2008.01 ~ 2010.02
            p.u-each-subtitle Programmer/Analyst
            p.work-each-description
              | Design, test, and implement a broad range of
              | software applications using C#, ASP.Net, and
              | jQuery. Coordinate with business subject matter
              | experts to incorporate business rules, mathematical
              | models, petroleum engineering aspects, and accounting
              | rules into software.

          .work-each
            p.u-each-title
              span.u-each-organization Oklahoma Air National Guard, Oklahoma City OK
              span.u-each-period 2000.04 ~ 2010.04
            p.u-each-subtitle Aircraft Generation Specialist

        .six.columns

          .education
            h2.u-section-title Education
            .education-each
              span.u-each-organization Oklahoma State University
              span.u-each-period 2007
            p.u-each-subtitle Bachelor in Information Technology Assurance & Forensics

          .education
            h2.u-section-title Skills
            ul
              li
                span.oss-title Linux System Administration
                p.oss-description - I have been a Linux system admin privately for almost 15 years.
              li
                span.oss-title Hobbyist Hacker
                p.oss-description - I spend much of my commute developing API's using Golang and Progressive Web Applicaitons tooling to build out the interfaces.
              li
                span.oss-title Pilot
                p.oss-description - Recreational Private pilot. Part 141 training.
              li
                span.oss-title Aircraft Mechanic
                p.oss-description - Specialist in the Air National Guard from 2000 - 2010.

          .education
            h2.u-section-title Languages/Other
            ul
              li CSS/SCSS/SASS
              li JavaScript
              li AngularJS 1.x
              li JQuery
              li Golang
              li C#
              li TSQL
              li Linux (Archlinux, Debian like)
              li BASH
              li APEX
              li Progressive Web Application
              li Grunt, Webpack
              li Yarn and NPM

          .education
            h2.u-section-title Profile Links
            ul
              li https://gitlab.com/dantuck
    .footer

    script(src='bundle.js')
